@tailwind base;
@tailwind components;
@tailwind utilities;

.no-scrollbar {
  scrollbar-width: none; /* Ukrycie w Firefox */
  -ms-overflow-style: none; /* Ukrycie w Internet Explorer */
}
.no-scrollbar::-webkit-scrollbar {
  display: none; /* Ukrycie w Chrome, Safari, Edge */
}
