@tailwind base;
@tailwind components;
@tailwind utilities;

.no-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.rounded-button {
  border-radius: 5px;
}
.border-light {
  border-width: 0.5px;
}

::-webkit-scrollbar {
  width: 2px;
}

::-webkit-scrollbar-track {
  background: #393939;
}

::-webkit-scrollbar-thumb {
  background: #2b2b2b;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
@layer base {
  :root {
    --radius: 0.5rem;
  }
}
